.custom-input {
    &__field {
        width: 100%;
        font-family: 'Lato';
        font-size: 18px;
        color: $black;
        padding: 12.4px 10px;
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid $white;
        line-height: 1;
        border-radius: 3px;
        outline: none;
        transition: 200ms ease all;

        &::placeholder {
            color: $black;
            font-size: 18px;
            transition: 200ms ease all;
        }

        &:focus {
            color: $white;
            background: rgba(61, 64, 80, 0.85);
            border-color: transparent;

            &::placeholder {
                color: $white;
            }
        }
    }

}